<%- include('../partials/header') %> 

  <header>
    <h1>Kinder Horror Films API</h1>
    <h2>An API for "kinder" horror films in which no animals are harmed</h2>
  </header>

  <form>
    <input id="backButton" type="button" value="Pick Another Movie"
    onclick="window.location.href = '/' ">    
     <!-- onclick="history.back()" -->
  </form>
  
  <div>
    <h2 class="filmcontent" id="filmTitle"><%= movie.title %></h2>
    <p class="filmcontent" id="filmReview"><span class="movie-details">Review:</span> <%= movie.review %></p>
    <p class="filmcontent" id="filmSummary"><span class="movie-details">Summary:</span> <%= movie.summary %></p>
    <p class="filmcontent" id="forKids"><span class="movie-details">For Kids:</span> <%= movie.forKids %></p>
    <p class="filmcontent" id="rating"><span class="movie-details">Rating:</span> <%= movie.rating %></p>
    <p class="filmcontent" id="triggerWarnings"><span class="movie-details">Trigger Warnings:</span> <%= movie.triggers %></p>
      <a class="filmcontent" id=imdbLink href="<%= movie.imdblink %>">imdb</a>
      <a class="filmcontent" id=wikiLink href="<%= movie.wikilink %>">wiki</a>
      <iframe width="560" height="315" src=<%= movie.trailer %>
      title="YouTube video player" frameborder="0" allow="accelerometer; 
      autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
<!--     why doesnt this work <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </iframe> -->
  </div>

  <%- include('../partials/footer') %>