<%- include('../partials/header') %>

  <header>
    <h1>Kinder Horror Films API</h1>
    <h2>An API for "kinder" horror films in which no animals are harmed</h2>

  </header>

  <nav>

    <!-- use for loop to generate options list -->
      <form onsubmit="return mysubmit();">
        <label for="films">Select a Film:</label>

          <select onchange="window.location.href = this.value";>
          <option value="">Select a film</option>
          <option value="random">Want a surprise? (Select this to get a random film)</option>
          <% for(var i = 0; i < films.length; i++) {%>

            <!-- <li class="films"> -->
            <!-- Output name from the iterated quote object -->
            <option value="<%= films[i].title %>"><%= films[i].title %></option>
            <!-- Output quote from the iterated quote object -->
            <!-- </li> -->
          <% } %>
          <!-- <button><a href="http://localhost:8000/random">Random</a></button> -->
<!-- 
        <option value="A Girl Walks Home Alone at Night">A Girl Walks Home Alone at Night</option>
        <option value="Willy’s Wonderland">Willy’s Wonderland</option>
        <option value="Vivarium">Vivarium</option>
        <option value="Paperhouse">Paperhouse</option>
        <option value="Be My Cat">Be My Cat</option>
        <option value="Mr. Harrigans Phone">Mr. Harrigans Phone</option>
        <option value="A Nightmare on Elm Street 3: Dream Warriors">A Nightmare on Elm Street 3: Dream Warriors</option>
        <option value="The Black Phone">The Black Phone</option>
      </select> -->
      <!-- <input type="submit" id="submit" value="Submit"> -->
    </form>

    <!-- <a href="localhost:8000/api/random">you pick</a> -->
    

  </nav>
  <!--add movie of the month-->
  <div>

    <h1>Movie of the Month</h1>

    <h2 class="filmcontent" id="filmTitle">Film: <%= motmtitle %></h2>
    
    <p class="filmcontent" id="filmReview">Review: <%= motmreview %></p>
    <p class="filmcontent" id="filmSummary">Summary: <%= motmsummary %></p>
    <p class="filmcontent" id="forKids">For Kids: <%= motmkids %></p>
    <p class="filmcontent" id="rating">Rating: <%= motmrating %></p>
    <p class="filmcontent" id="triggerWarnings">Trigger Warnings:  <%= motmtriggers %></p>
      <a class="filmcontent" id=imdbLink href="<%= motmimdblink %>">imdb</a>
      <a class="filmcontent" id=wikiLink href="<%= motmwikilink %>">wiki</a>
      <iframe width="560" height="315" src=<%= motmtrailer %>
      title="YouTube video player" frameborder="0" allow="accelerometer; 
      autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe> -->
<!--     why doesnt this work <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </iframe> -->
  </div>
  

 
  
    <%- include('../partials/footer') %>